body {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 70px;
    background: white ;
    text-align: center;
    font-family: Helvetica;
    font-size: 21px;
    color: rgb(14, 14, 87);
}
@media all and (min-width: 320px) {
    body {
       background: white;
    }
 }