body {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 350px;
    background: white ;
    text-align: left;
    font-family: Helvetica;
    font-size: 21px;
    color: rgb(14, 14, 87);

}