body {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    background: white;
    text-align: left;
    font-family: Helvetica;
    font-size: medium;

}
@media screen and (min-width: 375px) and (max-width: 1400px) {
    body {
       background: white;
       margin-left: 10%;
    }
 }