body {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 300px;
    background: white;
    text-align: left;
    font-family: Helvetica;
    font-size: medium;

}
@media all and (max-width: 320px) {
    body {
       background: white;
    }
 }